# python
__pycache__

# pytest
.pytest_cache

# build
build/
dist/
*.egg-info/

# poetry
poetry.lock
requirements.txt

# pycharm
.idea

# vscode
.vscode

# node.js
package.json
package-lock.json
node_modules

#venv
myenv/
venv/

generated_VNs/

adjacency_matrix.json
app0.py
hello.txt
graph_with_images.svg
location_array.json
create_map.py